/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    simsendx/SEQUIFOX Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

manifest {
    name            = 'simsendx/SEQUIFOX'
    author          = 'Stefan Filges'
    homepage        = 'https://github.com/simsendx/SEQUIFOX'
    description     = 'SEQUIFOX: Pipeline for ultrasensitive analysis of STR markers from targeted sequencing data'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=24.10.4'
    version         = '0.1.0'
}

// Nextflow plugins
plugins {
  id 'nf-schema@2.4.1'
}

params {
    samplesheet         = null
    library_file        = null
    marker_bed          = null
    ini_file            = null
    genome              = 'hg38'
    outdir              = 'results'
    publish_dir_mode    = 'copy'
    validate_params     = true

    indel_score         = 2
    mismatches          = 0.1
}

profiles {
    arm {
        docker.runOptions = '-u $(id -u):$(id -g) --platform=linux/amd64'
        podman.runOptions = '--platform=linux/amd64'
    }
    
    conda {
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
    }

    docker {
        docker.enabled         = true
        podman.enabled         = false
        singularity.enabled    = false
    }

    podman {
        docker.enabled         = false
        podman.enabled         = true
        singularity.enabled    = false
    }

    singularity {
        docker.enabled         = false
        podman.enabled         = false
        singularity.enabled    = true
    }
}

// Set default registry for Docker, Podman and Singularity independent of -profile
// Will not be used unless Docker / Podman / Singularity are enabled
// Set to your registry if you have a mirror of containers
docker.registry      = 'quay.io'
podman.registry      = 'quay.io'
singularity.registry = 'quay.io'